@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  margin: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}

.tasks-list {
  display: flex;
  justify-content: space-between;
  font-family: 'Courier New';
}

.add-task {
  font-family: 'Courier New';
}

.strike {
  text-decoration: line-through;
}

.calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: azure;
  font-family: Monaco;
  font-size: 12px;
}

.month {
  font-family: Monaco;
  margin-left: 13px;
  margin-bottom: 20px;
  color: lightskyblue;
}